*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
    background-color: black;
    margin: 0;
    height: 100%;
    font-family: 'Satoshi', sans-serif;
    color: $secondary-color;
}

/* title */ 
.title {
    margin: 0;
}

.title-1 {
    font-family: 'Casablanca Serial', sans-serif;
    font-weight: bold;
    color: $secondary-color;
    font-size: 3rem;
    display: block;
}

.title-2 {
    color: $primary-color;
    font-family: 'Oddlini Bold', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 20px;
}

.part-1 {
    display: block;
}

.bold {
    font-weight: 600;
}


// title tablet
@media (min-width: 500px) {
    .title-1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
    
    .title-2 {
        font-size: 2.25rem;
        line-height: normal;
    }
}

// title tablet
@media (min-width: 700px) {
    .title-1 {
        font-size: 4.4rem;
        margin-bottom: 0;
    }
    
    .title-2 {
        font-size: 2.8rem;
        line-height: normal;
    }
}

// title desktop
@media (min-width: 1000px) {
    .title-1 {
        font-size: 6.25rem;
        margin-bottom: 0;
    }
    
    .title-2 {
        font-size: 3.438rem;
        line-height: normal;
    }
}

.bold {
    font-weight: 600;
}