.slider {
    width: 500px;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-right: 0;
    padding-top: 20%;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
}

.date-movie {
    margin: 0;
}

.name-movie {
    margin-top: 8px;
    margin-bottom: 3px;
}

.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    width: calc(180px * 4);
}

.slide {
    display: flex;
    height: auto; 
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    font-weight: 100;
}

.slide img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.slider::before, .slider::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
}

.slider {
    -webkit-mask-image: linear-gradient(to left, transparent, black 50px, black calc(100% - 50px), transparent);
    mask-image: linear-gradient(to left, transparent, black 50px, black calc(100% - 50px), transparent);
}

@media (max-width: 1200px) {
    .slide img {
        width: 130px;
    }

    .slider {
        width: 400px;
    }

    .name-movie {
        font-size: 0.9rem;
    }

    .date-movie {
        font-size: 0.9rem;
    }

    .slide-track {
        width: calc(160px * 4);
    }
}

@media (max-width: 1000px) {
    .slide img {
        width: 120px;
    }

    .slider {
        width: 360px;
        padding-top: 5%;
    }

    .name-movie {
        margin-top: 6px;
        margin-bottom: 2px;
        font-size: 0.8rem;
    }

    .date-movie {
        font-size: 0.8rem;
    }

    .slide-track {
        width: calc(150px * 4);
    }
}

@media (max-width: 768px) {

    .slider {
        margin-top: 70px;
        width: 300px; 
        padding-top: 0;
    }

    .slide img {
        width: 100px;
    }

    .slider {
        width: 450px;
        padding-top: 0;
    }

    .slide-track {
        width: calc(130px * 4); 
    }

    .name-movie {
        max-width: 100px;
    }
}

@media (max-width: 500px) {

    .slide img {
        width: 70px;
    }

    .slider {
        margin: 0;
        margin-top: 100px;
        width: 100%; 
    }

    .slide-track {
        width: calc(100px * 4); 
    }

    .name-movie {
        max-width: 70px;
    }
}