/* Casablanca */ 
@font-face {
    font-family: 'Casablanca Serial';
    src: url('../fonts/casablanca-serial/casablanca-serial-bold.woff2') format('woff2'),
         url('../fonts/casablanca-serial/casablanca-serial-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Satoshi */ 
@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/satoshi-variable/satoshi-variable.woff2') format('woff2'),
         url('../fonts/satoshi-variable/satoshi-variable.woff') format('woff'),
         url('../fonts/satoshi-variable/satoshi-variable.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
}

/* Oddlini */ 
@font-face {
    font-family: 'Oddlini Bold';
    src: url('../fonts/oddlini/oddlini-bold.woff2') format('woff2'),
         url('../fonts/oddlini/oddlini-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oddlini Regular';
    src: url('../fonts/oddlini/oddlini-regular.woff2') format('woff2'),
         url('../fonts/oddlini/oddlini-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oddlini Thin';
    src: url('../fonts/oddlini/oddlini-thin.woff2') format('woff2'),
         url('../fonts/oddlini/oddlini-thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}