@charset "UTF-8";
/* Casablanca */
@font-face {
  font-family: "Casablanca Serial";
  src: url("../fonts/casablanca-serial/casablanca-serial-bold.woff2") format("woff2"), url("../fonts/casablanca-serial/casablanca-serial-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* Satoshi */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi-variable/satoshi-variable.woff2") format("woff2"), url("../fonts/satoshi-variable/satoshi-variable.woff") format("woff"), url("../fonts/satoshi-variable/satoshi-variable.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
}
/* Oddlini */
@font-face {
  font-family: "Oddlini Bold";
  src: url("../fonts/oddlini/oddlini-bold.woff2") format("woff2"), url("../fonts/oddlini/oddlini-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Oddlini Regular";
  src: url("../fonts/oddlini/oddlini-regular.woff2") format("woff2"), url("../fonts/oddlini/oddlini-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oddlini Thin";
  src: url("../fonts/oddlini/oddlini-thin.woff2") format("woff2"), url("../fonts/oddlini/oddlini-thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
/* nav */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: auto;
  margin-left: 18px;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.language {
  margin-right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

nav {
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  font-family: "Oddlini Thin", sans-serif;
}

.m-top {
  margin-top: 80px;
}

header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.menu-icon {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 24px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  margin-right: 22px;
}

.burger {
  width: 30px;
  height: 1px;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}

.burger::before {
  top: 0px;
}

.burger::after {
  bottom: 0px;
}

.burger:hover,
.burger:hover::before,
.burger:hover::after {
  background-color: #EA5B28;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: black;
  transition: right 0.3s ease-in-out;
  padding-left: 30px;
}

.menu a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding-bottom: 30px;
}

.menu a:hover {
  color: #EA5B28;
}

.burger.open {
  background-color: transparent;
}

.burger.open::before,
.burger.open::after {
  top: 50%;
  width: 120%;
}

.burger.open::before {
  transform: rotate(45deg);
}

.burger.open::after {
  transform: rotate(-45deg);
}

.language {
  color: #FFF;
  font-size: 1.02rem;
  font-family: "Oddlini Thin", sans-serif;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.language:hover {
  color: #EA5B28;
}

.language:focus {
  outline: none;
}

.logo {
  width: auto;
  height: auto;
}

@media (min-width: 700px) {
  nav {
    height: auto;
    font-size: 2rem;
  }
  .language {
    font-size: 1.25rem;
  }
  .m-top {
    margin-top: 90px;
  }
  .menu-icon {
    width: 30px;
  }
  .logo img {
    width: 40px;
    height: auto;
  }
  .burger {
    width: 40px;
    height: 1.5px;
  }
  .burger::before,
  .burger::after {
    content: "";
    height: 1.5px;
  }
  .menu a {
    padding-bottom: 0;
  }
}
@media (min-width: 900px) {
  .language {
    margin-right: 20px;
  }
  .m-top {
    margin-top: 0;
  }
  .menu-icon {
    display: none;
  }
  nav {
    height: 70px;
    display: flex;
    font-size: 1.25rem;
    backdrop-filter: blur(10px);
    background-color: transparent;
  }
  nav a {
    padding: 0;
  }
  .menu {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 70px;
    gap: 80px;
    background-color: transparent;
  }
  .menu a {
    display: inline-block;
    text-decoration: none;
  }
  .menu a.active {
    position: relative;
    color: #EA5B28;
    text-decoration: none; /* Retirer l'underline CSS par défaut */
  }
  .menu a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px; /* Déplacez l'underline plus bas sans affecter le lien */
    height: 1px;
    width: 100%;
    background-color: #EA5B28;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  background-color: black;
  margin: 0;
  height: 100%;
  font-family: "Satoshi", sans-serif;
  color: #FFF;
}

/* title */
.title {
  margin: 0;
}

.title-1 {
  font-family: "Casablanca Serial", sans-serif;
  font-weight: bold;
  color: #FFF;
  font-size: 3rem;
  display: block;
}

.title-2 {
  color: #EA5B28;
  font-family: "Oddlini Bold", sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 20px;
}

.part-1 {
  display: block;
}

.bold {
  font-weight: 600;
}

@media (min-width: 500px) {
  .title-1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  .title-2 {
    font-size: 2.25rem;
    line-height: normal;
  }
}
@media (min-width: 700px) {
  .title-1 {
    font-size: 4.4rem;
    margin-bottom: 0;
  }
  .title-2 {
    font-size: 2.8rem;
    line-height: normal;
  }
}
@media (min-width: 1000px) {
  .title-1 {
    font-size: 6.25rem;
    margin-bottom: 0;
  }
  .title-2 {
    font-size: 3.438rem;
    line-height: normal;
  }
}
.bold {
  font-weight: 600;
}

.button-orange {
  color: black;
  background-color: #EA5B28;
}

.button-black {
  color: #EA5B28;
  background-color: black;
}

.buttons a {
  text-decoration: none;
}

.home {
  display: flex;
  min-height: 100vh;
  margin-top: 40px;
  margin-left: 25px;
  background-image: url(../img/alice-guy.png);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 60px 0;
}

.five {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0 0 50px;
}

.infos {
  font-weight: 400;
  font-size: 0.9rem;
}

.date {
  margin: 0;
}

.street {
  margin-top: 15px;
}

@media (min-width: 500px) {
  .five {
    font-size: 1.8rem;
    margin: 0 0 50px;
  }
  .infos {
    font-weight: 400;
    font-size: 0.9rem;
  }
  .bold {
    font-weight: 600;
  }
  .home {
    background-size: 550px;
    background-position: 150% 0;
    margin-left: 50px;
  }
}
@media (min-width: 700px) {
  .five {
    font-size: 2.3rem;
    margin: 0 0 50px;
  }
  .infos {
    font-weight: 400;
    font-size: 1.2rem;
  }
  .bold {
    font-weight: 600;
  }
  .home {
    background-size: 650px;
    background-position: 120% 0;
    margin-left: 70px;
  }
}
@media (min-width: 1000px) {
  .five {
    font-size: 2.8rem;
    font-weight: 300;
    margin: 0 0 80px;
  }
  .infos {
    font-weight: 400;
    font-size: 1.2rem;
  }
  .home {
    background-size: 90%;
    background-position: 120% -3%;
    padding-top: 5%;
    margin-top: 0;
    margin-left: 90px;
  }
}
@media (min-width: 1200px) {
  .home {
    padding-left: 150px;
    background-size: auto 125%;
    background-position: 100% -3%;
    padding-top: 5%;
    margin-top: 0;
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.reservation-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1400px;
  margin: 1rem auto;
}
.reservation-container .five {
  margin-bottom: 1rem;
}

.reservation-info-container,
.reservation-form-container {
  width: 100%;
  margin: 0 auto;
}

.reservation-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.reservation-info-container .title-1 {
  font-size: 4rem;
}
.reservation-info-container .title-2 {
  font-size: 2.2rem;
}
.reservation-info-container .five {
  font-size: 1.5rem;
}
.reservation-info-container .infos {
  font-size: 1rem;
}

.reservation-form {
  padding: 1rem 0;
  max-width: 660px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #FFF;
  color: #2c2c2a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.steps-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.form-step {
  transform: translateX(110%);
  padding: 0 1rem;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.form-step.active {
  transform: translateX(0);
  position: relative;
}

.form-step.previous {
  transform: translateX(-110%);
}

.form-group-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0;
}

.form-group-row {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.15rem;
  width: 100%;
  text-align: left;
  margin: auto;
}
.form-group label {
  font-size: 1rem;
  color: #010101;
  font-weight: 500;
}
.form-group input {
  border: 1px solid #696969;
  padding-inline: 0.5rem;
  font-size: 1rem;
}
.form-group select {
  /* height: 30px; */
  font-size: 1rem;
  padding-inline: 0.5rem;
  background-color: #FFF;
  border: 1px solid #696969;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  position: relative;
  display: none;
}

.error-message.active {
  display: block;
}

.validate-promo {
  color: green;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  position: relative;
  /* top: 50px; */
  display: none;
}

.validate-promo.active {
  display: block;
}

.form-title {
  font-family: "Oddlini", sans-serif;
  font-size: 1.25rem;
  color: #010101;
  margin: 1rem 0 1rem 0;
}

.card-title {
  font-family: "Oddlini", sans-serif;
  font-size: 1rem;
  color: #010101;
  margin: 1rem 0 0 0;
}

.asterisk {
  color: #EA5B28;
  font-weight: 900;
}

.title-info {
  margin-bottom: 1rem;
  text-align: left;
}
.title-info .required-fields {
  font-size: 0.85rem;
  color: #303030;
}
.title-info .form-instructions {
  margin: 1rem 0 0.1rem 0;
  font-size: 1rem;
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  max-width: 100%;
  margin-bottom: 2rem;
  margin: auto;
  flex-wrap: nowrap;
}

.nav-btn {
  background: none;
  border: none;
  color: #EA5B28;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.nav-btn img {
  width: 35px;
  height: 35px;
}

.dates {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-name {
  font-size: 1rem;
  color: #2c2c2a;
}

.day-date {
  color: #4b4b4b;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.slots {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slot {
  font-family: "Satoshi", sans-serif;
  font-size: 0.9rem;
  background-color: #bdbdbd;
  color: #000;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

.slot.selected {
  background-color: #EA5B28;
  color: #FFF;
}

.pagination {
  margin: 1rem 0;
  font-weight: bold;
  color: #EA5B28;
}

.bottom-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.form-navigation {
  position: absolute;
  width: 100%;
}

.next-btn,
.nav-form-btn {
  background-color: #EA5B28;
  color: #FFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  float: right;
  margin-right: 1.5rem;
}

#submitBtn {
  font-weight: normal;
}

.previous-btn {
  float: left;
  margin-left: 1.5rem;
}

.step-indicator {
  margin: 1.5rem 0;
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bdbdbd;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #EA5B28;
}

.slot.past-slot {
  background-color: #e0e0e0;
  color: #a0a0a0;
  text-decoration: line-through;
  cursor: not-allowed;
}

.slot.past-slot:hover {
  background-color: #e0e0e0;
}

.details-reservation {
  display: flex;
  flex-direction: column;
}

.info-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  flex: 1;
  padding: 0rem 1rem;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.card .recap-list-columns {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.card .recap-list-rows {
  display: flex;
  flex-direction: column;
}

.recap-column {
  display: flex;
  flex-direction: column;
}

.recap-row {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.card li {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.recap-value {
  color: #2c2c2a;
  font-weight: 500;
  font-size: 1rem;
}

.intro {
  text-align: left;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.signature {
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  position: relative;
  top: 10px;
}

.studio24-bold {
  font-weight: bold;
  color: #EA5B28;
}

.confirmation-container {
  max-width: 650px;
  width: 100%;
  background-color: #EA5B28;
  color: #FFF;
  text-align: center;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin: auto;
}
.confirmation-container .confirmation-title {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
}
.confirmation-container .confirmation-message {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #fff;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  font-weight: 500;
}
.confirmation-container .confirmation-text {
  font-size: 1rem;
}
.confirmation-container .studio24-bold {
  color: #fff;
}
.confirmation-container .signature {
  font-size: 0.9rem;
  text-align: center;
}

/* Form responsive */
@media (min-width: 682px) {
  .form-group-container {
    gap: 2rem;
  }
  .form-group-row {
    flex-direction: row;
    gap: 2rem;
  }
  .form-group input {
    height: 30px;
  }
  .form-group select {
    height: 30px;
  }
  .error-message,
  .validate-promo {
    font-size: 0.9rem;
    position: absolute;
    top: 50px;
  }
  .card {
    padding: 0.5rem 1rem;
  }
  .card ul {
    flex-direction: row;
  }
  .card .recap-list-columns {
    flex-direction: row;
  }
  .card .recap-list-rows {
    flex-direction: column;
  }
  .recap-column {
    flex: 1;
  }
  .recap-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .confirmation-container {
    max-width: 650px;
    width: 100%;
    background-color: #EA5B28;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    padding: 2rem 3rem;
    margin: auto;
  }
  .confirmation-container .confirmation-title {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .confirmation-container .confirmation-message {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #fff;
    width: fit-content;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
  }
  .confirmation-container .confirmation-text {
    font-size: 1.2rem;
  }
  .confirmation-container .studio24-bold {
    color: #fff;
  }
  .confirmation-container .signature {
    text-align: center;
  }
  .reservation-container {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
  }
  .reservation-info-container .title-1 {
    font-size: 4.4rem;
  }
  .reservation-info-container .title-2 {
    font-size: 2.8rem;
  }
  .reservation-info-container .five {
    font-size: 2.3rem;
  }
  .reservation-info-container .infos {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
