.part-2-ex {
    position: relative;
    top: -8px;
}

.ex-top {
    padding: 40px 25px;
    width: 100%;
    max-width: 1800px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.game-text {
    margin-top: 20px;
    font-size: 0.9rem;
    max-width: 550px;
}

.clic {
    text-decoration: none;
    color: $primary-color;
    font-weight: 600;
}

.b-bis {
    margin-top: 40px;
}

.text-play {
    font-size: 1rem;
}

.button-play {
    margin-right: 5px;
}

.game-img {
    display: none;
}

@media (min-width: 500px) {
    .part-2-ex {
        top: 0;
    }

    .ex-top {
        padding: 40px 50px;
    }

    .text-play {
        font-size: 1.1rem;
    }

}

@media (min-width: 700px) {

    .ex-top {
        padding: 40px 70px;
    }

    .text-play {
        font-size: 1.2rem;
    }

}

@media (min-width: 1000px) {

    .ex-top {
        padding-top: 5%;
        margin-top: 0;
        margin-left: 20px;
    }

    .button-play {
        margin-right: 6.5px;
    }

    .text-play {
        font-size: 1.4rem;
    }

    .game-img {
        display: block;
        width: 350px;
        height: 350px;
        margin-right: 2%;
        margin-top: 10%;
    }
}

@media (min-width: 1200px) {

    .ex-top {
        padding-top: 5%;
        margin-top: 0;
        padding-left: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .game-img {
        width: 400px;
        height: 400px;
        margin-right: 3%;
        margin-top: 6%;
    }
}

@media (min-width: 1400px) {
    .game-img {
        width: 500px;
        height: 500px;
        margin-right: 6%;
        margin-top: 5%;
    }
}