.part-2-ex {
    position: relative;
    top: -8px;
}

.ex-top {
    padding: 40px 25px;
    width: 100%;
    max-width: 1800px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.game-text {
    margin-top: 20px;
    font-size: 0.9rem;
    max-width: 550px;
}

.clic {
    text-decoration: none;
    color: $primary-color;
    font-weight: 600;
    border: none;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
}

.b-bis {
    margin-top: 40px;
}

.text-play {
    font-size: 1rem;
}

.button-play {
    margin-right: 5px;
}

.game-img {
    display: none;
}

@media (min-width: 500px) {
    .part-2-ex {
        top: 0;
    }

    .ex-top {
        padding: 40px 50px;
    }

    .text-play {
        font-size: 1.1rem;
    }
}

@media (min-width: 700px) {
    .ex-top {
        padding: 40px 70px;
    }

    .text-play {
        font-size: 1.2rem;
    }
}

@media (min-width: 1000px) {
    .ex-top {
        padding-top: 5%;
        margin-top: 0;
        margin-left: 20px;
    }

    .button-play {
        margin-right: 6.5px;
    }

    .text-play {
        font-size: 1.4rem;
    }

    .game-img {
        display: block;
        width: 350px;
        height: 350px;
        margin-right: 2%;
        margin-top: 10%;
    }
}

@media (min-width: 1200px) {
    .ex-top {
        padding-top: 5%;
        margin-top: 0;
        padding-left: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .game-img {
        width: 400px;
        height: 400px;
        margin-right: 3%;
        margin-top: 6%;
    }
}

@media (min-width: 1400px) {
    .game-img {
        width: 500px;
        height: 500px;
        margin-right: 6%;
        margin-top: 5%;
    }
}

// --------------------------------------------------------

.timeline {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    font-family: 'Satoshi';
    margin: 0 auto;
    margin-bottom: 200px;
    max-width: 945px;
    gap: 2rem;
}

.svg-container {
    position: relative;
    margin-left: 30px;
    max-width: 10px;
    min-height: 100%;
    background-color: $secondary-color;
    z-index: 1;
    border-radius: 5px;
    flex: 1;
}

#path-svg {
    display: none;
}

.dot-timeline {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #f37036;
    border-radius: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

#dot-desktop {
    display: none;
}

.collection-steps {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 100px;
    margin-right: 0.75rem;
}

.collection-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    gap: 2rem;
    margin-right: 1rem;
}

.collection-card {
    background-color: #de623d;
    padding: 1rem;
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    flex: 3;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border: 1px solid $secondary-color;
        border-radius: 15px;
        pointer-events: none;
        z-index: 1;
    }
}

.collection-card-img {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    height: fit-content;
}

.hidden {
    opacity: 0 !important;
}

.collection-card-title {
    font-family: "Oddlini Bold", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 1rem;
}

.collection-card-text {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
}

.img-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: 1px solid $secondary-color;
    padding: 2rem;
    border-radius: 15px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

body.popup-open {
    overflow: hidden;
}

.promo-btn {
    position: absolute;
    white-space: nowrap;
    bottom: -100px;
    left: 50vw;
    transform: translateX(-50%);
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 10px;
    cursor: not-allowed;
    opacity: 0.5;
    transition: opacity 0.3s, cursor 0.3s;
    z-index: 999999;
    margin-left: -30px;
}

.promo-btn.enabled {
    cursor: pointer;
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.promo-popup.hidden {
    display: none;
}

.promo-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.promo-popup-content {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: $primary-color;
    padding: 24px 40px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border: 1px solid $secondary-color;
        border-radius: 15px;
        pointer-events: none;
        z-index: 1;
    }

    .popup-text {
        margin-right: 20px;
    }
}

.popup-reserve-btn {
    float: right;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    border-radius: 4px;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 7px 12px 7px 16px;
    margin: 0;

    &:hover svg {
        transition: ease-in-out 0.2s;
        transform: translate(4px, -2px);
    }
}


@media (min-width: 500px) {
    .promo-btn {
        margin-left: -50px;
    }

    .svg-container {
        margin-left: 50px;
    }
}

@media (min-width: 700px) {
    .promo-btn {
        margin-left: -70px;
    }

    .svg-container {
        margin-left: 70px;
    }
}

@media (768px < width < 1100px) {
    .object-collection {
        margin-top: 100px;
    }

    .collection-steps {
        gap: 100px;
    }

    .collection-step {
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .collection-card {
        flex: 3;
    }

    .img-container {
        width: 40vw;
        min-height: 100%;
        justify-content: flex-end;
        padding: 0 2rem;
        flex: 1;
    }

    .collection-card-img {
        display: flex;
        flex-direction: row-reverse;
        height: fit-content;
        gap: 2rem;
        height: 100%;

        .img {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .hidden {
        display: none;
        flex: 0;
    }
}

@media (min-width: 1100px) {
    #path-svg {
        max-width: 945px;
    }

    .svg-container {
        max-width: 100%;
    }

    .dot-timeline {
        width: 30px;
        height: 30px;
    }

    #dot-desktop {
        display: block;
    }

    #dot-mobile {
        display: none;
    }

    .timeline {
        position: relative;
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        margin-bottom: 400px;
        max-width: 945px;
        padding: 50px 0;
    }

    .svg-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
        height: fit-content;
        // pointer-events: none;
        display: flex;
        justify-content: center;
        background-color: transparent;
        margin: auto 0;
    }

    #path-svg {
        max-width: 945px;
        display: block;
    }

    .dot-timeline {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #f37036;
        border-radius: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
    }

    #path-svg {
        max-width: 945px;
    }

    .svg-container {
        max-width: 100%;
    }

    .dot-timeline {
        width: 30px;
        height: 30px;
    }

    .collection-steps {
        margin-top: 199px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6.5px;
    }

    .collection-step {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        height: 452px;
        margin-right: 0;

        &:nth-child(even) {
            margin-left: 80px;
        }
    }

    .collection-card-img {
        flex-direction: row;
    }

    .collection-card {
        background-color: $primary-color;
        padding: 40px;
        border-radius: 20px;
        width: 100%;
        position: relative;
        right: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        opacity: 0;
        flex: 2;

        &.collection-card-right {
            right: 0;
            left: 40px;
        }

        &::before {
            border-radius: 30px;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
        }
    }

    .collection-card-title {
        font-family: "Oddlini Bold", sans-serif;
        font-size: 1.2rem;
    }

    .collection-card-text {
        font-size: 1rem;
        font-weight: 500;
    }

    .collection-step:nth-child(even) .collection-card-img {
        flex-direction: row-reverse;
    }

    .collection-step:nth-child(odd) .collection-card-img .img-container {
        margin-right: 80px;
        margin-left: 0;
    }

    .img-container {
        aspect-ratio: 1;
        min-height: 100%;
        flex: 1;
        position: relative;
        padding-right: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        border: 1px solid $secondary-color;
        padding: 0;
        border-radius: 15px;

        &.img-container-left {
            justify-content: center;
            padding-right: 0;
            border-bottom-left-radius: 50px;
            border-top-left-radius: 50px;
        }

        &.img-container-right {
            justify-content: center;
            padding-left: 0;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
        }
    }

    .promo-btn {
        bottom: -90px;
        left: -80px;
        font-size: 1.4rem;
        transform: translate(0);
        margin: 0;
    }
}