.home {
    display: flex;
    // justify-content: space-around;
    min-height: 100vh;
    margin-top: 40px;
    margin-left: 25px;
    background-image: url(../img/alice-guy.png);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 60px 0;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }
}

.five {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0 0 50px;
}

.infos {
    font-weight: 400;
    font-size: 0.9rem;
}

.date {
    margin: 0;
}

.street {
    margin-top: 15px;
}

// tablet
@media (min-width: 500px) {

    .five {
        font-size: 1.8rem;
        margin: 0 0 50px;
    }

    .infos {
        font-weight: 400;
        font-size: 0.9rem;
    }

    .bold {
        font-weight: 600;
    }

    .home {
        background-size: 550px;
        background-position: 150% 0;
        margin-left: 50px;
    }
}

@media (min-width: 700px) {

    .five {
        font-size: 2.3rem;
        margin: 0 0 50px;
    }

    .infos {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .bold {
        font-weight: 600;
    }

    .home {
        background-size: 650px;
        background-position: 120% 0;
        margin-left: 70px;
    }
}

// desktop
@media (min-width: 1000px) {
    .five {
        font-size: 2.8rem;
        font-weight: 300;
        margin: 0 0 80px;
    }

    .infos {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .home {
        background-size: 90%;
        background-position: 120% -3%;
        padding-top: 5%;
        margin-top: 0;
        margin-left: 90px;
    }
}

@media (min-width: 1200px) {
    .home {
        padding-left: 150px;
        background-size: auto 125%;
        background-position: 100% -3%;
        padding-top: 5%;
        margin-top: 0;
        max-width: 1800px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}