@font-face {
    font-family: 'satoshi-variable';
    src: url('../../fonts/public/satoshi-variable.woff2') format('woff2'),
         url('../../fonts/public/satoshi-variable.woff') format('woff');

}

@font-face {
    font-family: 'oddini-bold';
    src: url('../../fonts/public/oddlini-bold.woff2') format('woff2'),
         url('../../fonts/public/oddlini-bold.woff') format('woff');
 
    font-weight: normal;
    font-style: normal;
}